@import url('http://fonts.cdnfonts.com/css/harry-potter');

.home {
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; */
}

.home-video-div video {
  grid-template-columns: none;
  grid-template-rows: none;
  position: relative;
  margin-top: 40rem;
}

/* .home-video {
  position: absolute;
} */

.title {
  position: absolute;
}

.home-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  margin: auto;
  padding: auto;
}

.home-div-texte {
  width: 550px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.home-div-texte h3 {
  padding-top: 2rem;
  text-align: center;
  font-size: 3rem;
  font-family: 'Harry Potter', sans-serif;
}

.home-div-texte button {
  padding: 10px 0;
  width: 30%;
  font-size: 1.1rem;
  margin: 0 auto 3rem auto;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: black solid 2px;
  transition: transform 0.5s;
}

.home-div-texte button:hover {
  background-color: black;
  color: white;
  transform: scale(1.2);
}

.home-div-video {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
