.house-container div img {
  width: 20vw;
  height: 45vh;
  transition: transform 0.2s;
}

.house-container div img:hover {
  transform: scale(1.1);
}

.library {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.default-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1596426586791-1ec4ecf6083f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80);
}

.gryffindor-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-image: url(../../assets/gryfindor-hogwarts-house.jpg);
}

.hufflepuff-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-image: url(../../assets/hufflepuff-d6152588b2379fcac20301584f5b87c9.jpg);
}

.ravenclaw-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-image: url(../../assets/ravenclaw-a4dfcf4b993b250ddf660525cfbd042b.jpg);
}

.slytherin-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-image: url(../../assets/slytherin-hogwarts-house.jpg);
}

.house-container {
  display: flex;
  justify-content: space-around;
}

.cards-container {
  background: transparent;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
}
