@import url('http://fonts.cdnfonts.com/css/harry-potter');

.house-container div img {
  width: 20vw;
  height: 45vh;
  transition: transform 0.2s;
}

.house-container div img:hover {
  transform: scale(1.1);
}

.library {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.title {
  font-family: 'Harry Potter', sans-serif;
}
