.active {
  color: white;
  text-decoration: none;
}

.Header {
  height: 6rem;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.NavBar {
  color: white;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.NavBar li {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  margin-right: 2rem;
  text-decoration: none;
}

.NavBar li:visited {
  text-decoration: none;
}

.NavBar li :hover {
  border-bottom: solid 2px white;
}
